.mainContainer {
    margin-top: 5vh;
    width: 90% !important;
    padding-left: 0 !important;
}

.searchForm {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.searchField {

}

.searchButton {
    margin-top: 1vh;
}