.mainContainer {
    margin-top: 5vh;
    width: 90% !important;
    padding-left: 0 !important;
}

.fieldsContainer {
    margin-top: 3vh !important;
    padding-right: 30vw !important;
    padding-left: 0 !important;
}

.inputDropdown {
    width: 87% !important;
}

.formElement {
    font-size: 0.9rem !important;
}