.container{
    height: 100vh;
    max-width: 100vh;
    backdrop-filter: blur(3px);
}

.formRow{
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form {
    width: 40vw !important;
    align-content: center;
}

.enterInput {
    display: flex;
    flex-direction: column;
    min-height: 12vh;
}

.button {
    margin: 0.5rem 1rem;
    color: gray !important;
    alignment: center;
}

.quote {
    margin-top: 5vh;
}