.container {
    height: 100vh;
    max-width: 100vh;
}

.formRow {
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form {
    width: 40vw !important;
    align-content: center;
}

.regInput {
    display: flex;
    flex-direction: column;
    min-height: 12vh;
}